body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #aaa;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #ccc;
}
a {
    text-decoration: none;
    color: #007BFF;
}
input, textarea, select {
    width: 100%;
    margin-bottom: 10px;
}
button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
